<div class="carousel-container">
  <div class="item-container">
    <div>
      <div class="item-text-background">
        <div class="text" [innerHTML]="items[currentIndex].text"></div>

        <div class="subtext" [innerHTML]="items[currentIndex].subtext"></div>
        <div class="button-container">
          <button
            (click)="
              currentIndex =
                currentIndex === 0 ? items.length - 1 : currentIndex - 1
            "
          >
            <mat-icon class="material-symbols-outlined">
              arrow_back_ios
            </mat-icon>
          </button>
          <button
            (click)="
              currentIndex =
                currentIndex === items.length - 1 ? 0 : currentIndex + 1
            "
          >
            <mat-icon class="material-symbols-outlined">
              arrow_forward_ios
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <img class="image" [src]="items[currentIndex].image" />
  </div>
</div>
