<!-- <mat-card class="container">
  <button mat-button [matMenuTriggerFor]="belowMenu">
    RO <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <ul class="wrapperList">
    <li class="dot"></li>
    <li>
      <a id="popUp"
        >Contact Center 021 9268
        <div>
          <mat-card id="popUpText">
            <mat-card-title id="textPop">
              Vrei să faci o programare?
            </mat-card-title>
            <div>
              <img src="../assets/timpAsteptarePopUp.png" />
            </div>
            <mat-card-content>
              <p id="text">
                Timpul mediu de asteptare este calculat din momentul in care
                apelul intra in coada de asteptare si pana esti preluat de un
                operator.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </a>
    </li>
    <li class="point"><a>Programari</a></li>
    <li class="point"><a>Rezultate analize</a></li>
    <li class="point">
      <a href="/login" style="text-decoration: none">Intra in cont</a>
    </li>
    <li class="point">
      <a><mat-icon class="personSimbol">person_outline</mat-icon></a>
    </li>
  </ul>

  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>EN</button>
  </mat-menu>
</mat-card>
<app-meniu-materials></app-meniu-materials> -->
<router-outlet style="background-color: #fff"></router-outlet>
<!-- <app-carousel></app-carousel> -->
