<mat-card class="container-educatie">
  <mat-card-title
    style="padding: 50px 20px; font-size: xx-large; text-align: center"
  >
    Educatie Medicala
  </mat-card-title>
  <mat-card-content class="content-educatie">
    <div class="content-educatie-items">
      <mat-card class="content-educatie-sub-items">
        <img style="max-width: 350px" src="../../assets/educatie1.png" />
        <a style="padding-left: 10px; font-size: 12px">19 JUL 2023</a>
        <span style="padding-left: 10px; color: #dc0028; font-size: 28px"
          >Ghidul alergiilor de primavara
        </span>
      </mat-card>
    </div>
    <div class="content-educatie-items2">
      <div class="top-items">
        <mat-card class="content-educatie-sub-items2"
          ><a>19 JUL 2023</a>
          <span
            >Va putea salva economia circulara sanatatea planetei?</span
          ></mat-card
        >
        <mat-card class="content-educatie-sub-items2"
          ><a>19 JUL 2023</a
          ><span
            >Îmi vine să mănânc tot timpul, indiferent că mi-e foame sau nu. Cum
            mă opresc?</span
          ></mat-card
        >
      </div>
      <div class="bot-items">
        <mat-card class="content-educatie-sub-items20"
          ><a>19 JUL 2023</a>
          <span>Analizele de sange pentru alergii</span></mat-card
        >
        <mat-card class="content-educatie-sub-items20"
          ><a>19 JUL 2023</a
          ><span
            >De ce este importanta varsta atunci cand vrei sa ai copii</span
          ></mat-card
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>
