<div class="header">
  <mat-icon
    routerLink="/home"
    svgIcon="logo"
    style="height: 200px; width: 200px; position: relative"
  ></mat-icon>
</div>

<div class="container">
  <div class="content">
    <mat-card
      style="
        height: 550px;
        display: flex;
        justify-content: flex-start;
        border-top: 4px solid red;
        padding: 3rem;
        padding-bottom: 1em;
        padding-top: 5em;
      "
      class="form-container mat-elevation-z5"
    >
      <div
        class="mat-display-table"
        style="display: flex; justify-content: center"
      >
        <div
          class="mat-display-table-cell"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          "
        >
          <div
            class="auth-block"
            style="display: flex; flex-direction: column; align-items: center"
          >
            <h3>Resetare parola</h3>
            <p class="text-center">Te rog să introduci adresa de email.</p>
            <div class="form-group">
              <mat-form-field appearance="legacy">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email Address"
                  #passwordResetEmail
                  required
                />
              </mat-form-field>
            </div>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="form-group">
              <button
                mat-raised-button
                style="background-color: #dc0028; color: white"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Resetează parola
              </button>
            </div>
          </div>
          <div class="redirect-to-login">
            <span
              >Vrei să te întorci ?
              <span class="redirect" routerLink="/login">Log In</span></span
            >
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
